<%- include("partials/header.ejs") %>

  <h1> Welcome to the Solar System </h1>
  <img src="/img/sky-gf7c783af8_1920.jpg">
  <p>There are many planetary systems like ours in the universe, with planets orbiting a host star. Our planetary system is called “the solar system” because we use the word “solar” to describe things related to our star, after the Latin word for Sun, "solis."</p>
</body>
</html>