<%- include("partials/header.ejs") %>

  <h1> Welcome to Venus </h1>
  <img src="/img/venus.png">
  <p>Venus is the second planet from the Sun and is Earth’s closest planetary neighbor. It’s one of the four inner, terrestrial (or rocky) planets, and it’s often called Earth’s twin because it’s similar in size and density. These are not identical twins, however – there are radical differences between the two worlds.</p>
</body>
</html>